img{
	width: 10em;
	height: 10em;
	object-fit: cover;
}

.members{
	flex-basis: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#album{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}